.idea
.ccls-cache/
.DS_Store
*.dSYM/

/build/
/site/
/tmp/
/bin/
/lib/
/scratch/
/tools/install/bundler/embed/bundle
/.installer-lock

/coverage/

*.tar
*.tar.gz

/cifuzz.yaml

gotest.log

/node_modules/
