import { FuzzedDataProvider } from "@jazzer.js/core";
// import * as target from "./src";

test.fuzz("My fuzz test", (data: Buffer) => {
 	// Call the functions you want to test with the provided data and optionally
 	// assert that the results are as expected. For example:
	/*
	const provider: FuzzedDataProvider = new FuzzedDataProvider(data);
	target.fuzzMe(
	  provider.consumeNumber(),
	  provider.consumeString(8)
	);
	*/
});
